.contact-container {
  display: flex;
  gap: 2rem;
  justify-content: space-between;
}
.contact-text {
  max-width: 50%;
  text-align: left;
}
.contact-social-media {
  display: flex;
  gap: 1rem;
}
.fa-brands {
  font-size: 20px;
}
