.home-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: space-between;
  align-items: center;
}
.home-text {
  text-align: left;
  max-width: 60%;
}
.foto-container {
  width: fit-content;
  padding: 0;
  margin-left: auto;
}
.foto-home {
  max-width: 170px;
  border-radius: 10px;
}
section {
  margin-top: 20px;
}
h2,
h4 {
  margin: 0;
}
h2 {
  margin-left: 50px;
  font-size: 40px;
}
.name {
  margin-left: 45px;
}
.more-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 20px;
  padding: 32px 0px;
  gap: 1rem;
}
.card {
  border-bottom: 1px solid #d1ced9;
  border-left: 1px solid #d1ced9;
  border-radius: 10px;
  text-align: left;
  justify-content: flex-start;
  min-width: 150px;
  max-width: 250px;
  width: 100%;
  padding: 0.3rem;
  background-color: #d1ced9;
}
.card ul {
  display: flex;
  flex-direction: column;
  border: none;
}
.card li {
  border: none;
  margin: 0;
  list-style: none;
}
.project-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  border-top: 1px solid #d1ced9;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.project-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2rem;
  border-bottom: 1px solid #d1ced9;
  padding-bottom: 1rem;
}
.project-text {
  text-align: left;
  max-width: 40%;
  margin: 1rem;
}
.link-image {
  display: contents;
}
.project-image {
  max-width: 40%;
  margin: 1rem;
  border-radius: 20px;
}
.link {
  color: #272635;
}
