.project-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.project-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2rem;
  border-bottom: 1px solid white;
  padding-bottom: 1rem;
}
.project-text {
  text-align: left;
  max-width: 40%;
  margin: 1rem;
}
.link-image {
  display: contents;
}
.project-image {
  max-width: 40%;
  margin: 1rem;
}
.link {
  color: white;
}
