.form-container {
  width: 100%;
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
}
label {
  display: flex;
  flex-direction: column;
}
input,
textarea {
  padding: 1rem;
  border-radius: 10px;
  font-family: "Quicksand", sans-serif;
}
button {
  width: 100px;
  border-radius: 10px;

  padding: 0.3rem;
  text-decoration: none;

  color: #272635;
  background-color: transparent;
  font-weight: 700;
  border: none;
  font-family: "Quicksand", sans-serif;
  border: 1px solid #272635;
}
button:hover {
  background-color: #272635;
  color: #d1ced9;
}
