.footer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  border-bottom: 1px solid white;
  border-left: 1px solid white;
  border-radius: 10px;
  width: 80vw;
  margin: auto;
  padding: 2rem;
}
h3 {
  margin: 0;
}
p {
  margin: 0;
}
.links {
  color: white;
  text-decoration: none;
}
.links:hover {
  text-decoration: underline;
}
