.footer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  border-bottom: 1px solid #d1ced9;
  border-left: 1px solid #d1ced9;
  border-radius: 10px;
  width: 100%;
  max-width: calc(100% - 4rem);
  margin: auto;
  padding: 2rem;
}
h3 {
  margin: 0;
}
p {
  margin: 0;
}
.links {
  color: #272635;
  text-decoration: none;
}
.links:hover {
  text-decoration: underline;
}
