.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #d1ced9;
  border-left: 1px solid #d1ced9;
  border-radius: 10px;
  width: 100%;
  max-width: calc(100% - 4rem);
  padding: 2rem;
}
.header h3 {
  margin-top: 0px;
}
.header h1 {
  margin: 0;
}
.nav-ul {
  list-style: none;
  display: flex;
  gap: 2rem;
}
.nav-li {
  width: 100px;
  border-radius: 10px;
  padding: 0.3rem;
  background-color: #d1ced9;
  color: #272635;
}
.nav-li:hover {
  background-color: #272635;
  color: #d1ced9;
}
.button-header {
  text-decoration: none;
  font-weight: 700;
  color: #272635;
}
.button-header:hover {
  background-color: #272635;
  color: #d1ced9;
}

.nav-li .active {
  text-decoration: underline;
}
.logo-header {
  text-decoration: none;
  color: #272635;
}
